In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'a v ha.zip',
 'air_quality.zip',
 'Body performace.zip',
 'climate_india.zip',
 'crypto.zip',
 'customer_segmentation.zip',
 'Domains.txt',
 'ds',
 'heart failure.zip',
 'Leukemia.zip',
 'National Family Health Survey.zip',
 'rough.ipynb',
 'semi conductor sortage.zip',
 'TESLA STOCKS.zip',
 'Vechile Insurace fraud.zip',
 'Youtube dislikes.zip']

In [9]:
os.path.abspath('')

'C:\\Users\\PIYUSH SINHA\\Downloads\\DATASETS'

In [8]:
os.getcwd()

'C:\\Users\\PIYUSH SINHA\\Downloads\\DATASETS'

In [17]:
# pd.read_csv(r'C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\')

In [18]:
os.getcwd()

'C:\\Users\\PIYUSH SINHA\\Downloads\\DATASETS\\ds\\NFHS\\districtwise_data\\pdfs\\telangana-Copy'

In [45]:
import os
import sys
folder = r'C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy'
for filename in os.listdir(folder):
    infilename = os.path.join(folder,filename)
    print(infilename)

C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\komaram_bheem_asifabad.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\mahabubabad.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\mahabubnagar.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\mancherial.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\medak.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\medchal_malkajgiri.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\nagarkurnool.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\nalgonda.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\nirmal.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\nizamabad.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\peddapalli.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\rajanna_sircilla.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\ranga_reddy.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\sangareddy.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\siddipet.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\suryapet.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\vikarabad.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\wanaparthy.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\warangal_rural.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\warangal_urban.pdf
C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy\yadadri_bhuvanagiri.pdf

In [46]:
os.chdir(r'C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana-Copy')

In [48]:
import os
import sys
folder = r'C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\pdfs\telangana'
for filename in os.listdir(folder):
    infilename = os.path.join(folder,filename)
    if not os.path.isfile(infilename): continue
    file,ext = os.path.splitext(filename)
    newpath=file+'.pdf'
    os.rename(infilename,newpath)

In [49]:
os.getcwd()

'C:\\Users\\PIYUSH SINHA\\Downloads\\DATASETS\\ds\\NFHS\\districtwise_data\\pdfs\\telangana-Copy'

In [54]:
os.chdir(r'C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\NFHS\districtwise_data\json\odisha')

In [56]:
pd.read_json('jajapur.json')

,intro,n_households,n_women,n_men,indicators
1,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Female population age 6 years ...
10,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Households using clean fuel fo...
100,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Ever undergone an oral cavity ...
101,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Women age 15 years and above w...
102,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Men age 15 years and above who...
...,...,...,...,...,...
95,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Mildly elevated blood pressure...
96,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Moderately or severely elevate...
97,Introduction The National Family Health Survey...,889,959,140,{'indicator': ' Elevated blood pressure (Systo...
98,Introduction The National Family Health Survey...,889,959,140,{'indicator': 'Ever undergone a screening test...
99,Introduction The National Family Health Survey...,889,959,140,{'indicator': 'Ever undergone a breast examina...

In [59]:
weather=pd.read_csv(r'C:\Users\PIYUSH SINHA\Downloads\DATASETS\ds\weather_data.csv')

In [60]:
weather

,id,city_name,city_id,latitude,longitude,dt_txt,temp,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,main,description,clouds,wind_speed,wind_degree,region,state
0,103348,Amarawati,1263594,16.00,76.9600,2020-01-29 08:30:00+05:30,23.45,23.45,23.45,1016,1016,971,59,Clouds,scattered clouds,44,2.83,312,West\n,Maharashtra
1,103349,Amarawati,1263594,16.00,76.9600,2020-01-29 11:30:00+05:30,27.91,27.91,27.91,1015,1015,971,42,Clouds,few clouds,22,1.95,297,West\n,Maharashtra
2,103350,Amarawati,1263594,16.00,76.9600,2020-01-29 14:30:00+05:30,31.14,31.14,31.14,1010,1010,967,34,Clear,clear sky,0,2.93,234,West\n,Maharashtra
3,103351,Amarawati,1263594,16.00,76.9600,2020-01-29 17:30:00+05:30,30.94,30.94,30.94,1010,1010,966,32,Clear,clear sky,0,1.15,246,West\n,Maharashtra
4,103352,Amarawati,1263594,16.00,76.9600,2020-01-29 20:30:00+05:30,26.14,26.14,26.14,1012,1012,968,41,Clear,clear sky,0,1.68,65,West\n,Maharashtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5634117,5738569,Badaun,1275163,28.05,79.1167,2021-02-20 02:30:00+05:30,16.14,16.14,16.14,1015,1015,995,33,Clear,clear sky,0,2.31,285,North\n,Uttar Pradesh
5634118,5738570,Badaun,1275163,28.05,79.1167,2021-02-20 05:30:00+05:30,14.09,14.09,14.09,1015,1015,995,36,Clear,clear sky,0,1.53,302,North\n,Uttar Pradesh
5634119,5738571,Badaun,1275163,28.05,79.1167,2021-02-20 08:30:00+05:30,17.24,17.24,17.24,1017,1017,997,35,Clear,clear sky,0,2.13,241,North\n,Uttar Pradesh
5634120,5738572,Badaun,1275163,28.05,79.1167,2021-02-20 11:30:00+05:30,25.40,25.40,25.40,1018,1018,998,23,Clear,clear sky,0,2.89,271,North\n,Uttar Pradesh
5634121,5738573,Badaun,1275163,28.05,79.1167,2021-02-20 14:30:00+05:30,28.97,28.97,28.97,1014,1014,994,17,Clear,clear sky,0,3.02,272,North\n,Uttar Pradesh

       id  city_name  city_id  latitude  longitude
0  103348  Amarawati  1263594      16.0      76.96
1  103349  Amarawati  1263594      16.0      76.96
2  103350  Amarawati  1263594      16.0      76.96
3  103351  Amarawati  1263594      16.0      76.96
4  103352  Amarawati  1263594      16.0      76.96
5  103353  Amarawati  1263594      16.0      76.96

In [83]:
avg=weather.groupby(by='city_name').agg('mean')

In [84]:
avg

,id,city_id,latitude,longitude,temp,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,clouds,wind_speed,wind_degree
city_name,,,,,,,,,,,,,,
Adilabad,2.905195e+06,1279344.0,19.669664,78.530336,27.989001,27.932400,27.989676,1007.857646,1007.852820,976.137202,49.832410,47.326182,2.950662,188.977763
Agra,2.917349e+06,1279259.0,27.180337,78.019663,27.781478,27.728302,27.784874,1006.427683,1006.416688,986.675524,37.101309,30.340380,2.876575,209.216754
Ahmedabad,2.918149e+06,1279233.0,23.030337,72.619663,28.862375,28.818217,28.880452,1007.767212,1007.759359,1001.894634,41.028403,30.953272,3.718546,200.320419
Ahmednagar,2.916989e+06,1279228.0,19.080337,74.730337,25.967260,25.925901,25.967918,1008.590903,1008.586387,936.343783,50.178534,45.816950,4.241240,203.791230
Aizawl,2.928048e+06,1279186.0,23.730339,92.719661,19.812412,19.680481,19.838526,1009.899342,1009.901974,909.293421,73.420197,50.881974,1.122278,173.968750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West District,2.918189e+06,1668399.0,24.140143,120.670102,24.362882,24.348469,24.387893,1014.154188,1014.155628,1005.030105,64.290249,51.056021,3.258736,143.339594
Wokha,2.921768e+06,1252840.0,26.100000,94.269661,14.827727,14.741843,14.827855,1008.580724,1008.586316,838.850066,84.241447,52.146382,1.102515,181.014276
Yavatmal,2.916549e+06,1252770.0,20.400000,78.130337,27.196503,27.142225,27.197236,1007.987893,1007.982134,960.091950,49.128861,45.788024,3.242430,195.343063
Zunheboto,2.926033e+06,1252653.0,25.969660,94.519660,16.681506,16.598335,16.681579,1008.401913,1008.406794,857.985818,79.062731,53.581860,0.988195,169.559169
kapurthala,2.926008e+06,1267911.0,31.379938,75.380482,25.338114,25.305414,25.388633,1007.858750,1007.848224,982.004605,41.555855,27.451316,2.436226,190.090461

In [85]:
weather

,id,city_name,city_id,latitude,longitude,dt_txt,temp,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,main,description,clouds,wind_speed,wind_degree,region,state
0,103348,Amarawati,1263594,16.00,76.9600,2020-01-29 08:30:00+05:30,23.45,23.45,23.45,1016,1016,971,59,Clouds,scattered clouds,44,2.83,312,West\n,Maharashtra
1,103349,Amarawati,1263594,16.00,76.9600,2020-01-29 11:30:00+05:30,27.91,27.91,27.91,1015,1015,971,42,Clouds,few clouds,22,1.95,297,West\n,Maharashtra
2,103350,Amarawati,1263594,16.00,76.9600,2020-01-29 14:30:00+05:30,31.14,31.14,31.14,1010,1010,967,34,Clear,clear sky,0,2.93,234,West\n,Maharashtra
3,103351,Amarawati,1263594,16.00,76.9600,2020-01-29 17:30:00+05:30,30.94,30.94,30.94,1010,1010,966,32,Clear,clear sky,0,1.15,246,West\n,Maharashtra
4,103352,Amarawati,1263594,16.00,76.9600,2020-01-29 20:30:00+05:30,26.14,26.14,26.14,1012,1012,968,41,Clear,clear sky,0,1.68,65,West\n,Maharashtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5634117,5738569,Badaun,1275163,28.05,79.1167,2021-02-20 02:30:00+05:30,16.14,16.14,16.14,1015,1015,995,33,Clear,clear sky,0,2.31,285,North\n,Uttar Pradesh
5634118,5738570,Badaun,1275163,28.05,79.1167,2021-02-20 05:30:00+05:30,14.09,14.09,14.09,1015,1015,995,36,Clear,clear sky,0,1.53,302,North\n,Uttar Pradesh
5634119,5738571,Badaun,1275163,28.05,79.1167,2021-02-20 08:30:00+05:30,17.24,17.24,17.24,1017,1017,997,35,Clear,clear sky,0,2.13,241,North\n,Uttar Pradesh
5634120,5738572,Badaun,1275163,28.05,79.1167,2021-02-20 11:30:00+05:30,25.40,25.40,25.40,1018,1018,998,23,Clear,clear sky,0,2.89,271,North\n,Uttar Pradesh
5634121,5738573,Badaun,1275163,28.05,79.1167,2021-02-20 14:30:00+05:30,28.97,28.97,28.97,1014,1014,994,17,Clear,clear sky,0,3.02,272,North\n,Uttar Pradesh

In [87]:
weather.drop_duplicates()

,id,city_name,city_id,latitude,longitude,dt_txt,temp,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,main,description,clouds,wind_speed,wind_degree,region,state
0,103348,Amarawati,1263594,16.00,76.9600,2020-01-29 08:30:00+05:30,23.45,23.45,23.45,1016,1016,971,59,Clouds,scattered clouds,44,2.83,312,West\n,Maharashtra
1,103349,Amarawati,1263594,16.00,76.9600,2020-01-29 11:30:00+05:30,27.91,27.91,27.91,1015,1015,971,42,Clouds,few clouds,22,1.95,297,West\n,Maharashtra
2,103350,Amarawati,1263594,16.00,76.9600,2020-01-29 14:30:00+05:30,31.14,31.14,31.14,1010,1010,967,34,Clear,clear sky,0,2.93,234,West\n,Maharashtra
3,103351,Amarawati,1263594,16.00,76.9600,2020-01-29 17:30:00+05:30,30.94,30.94,30.94,1010,1010,966,32,Clear,clear sky,0,1.15,246,West\n,Maharashtra
4,103352,Amarawati,1263594,16.00,76.9600,2020-01-29 20:30:00+05:30,26.14,26.14,26.14,1012,1012,968,41,Clear,clear sky,0,1.68,65,West\n,Maharashtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5634117,5738569,Badaun,1275163,28.05,79.1167,2021-02-20 02:30:00+05:30,16.14,16.14,16.14,1015,1015,995,33,Clear,clear sky,0,2.31,285,North\n,Uttar Pradesh
5634118,5738570,Badaun,1275163,28.05,79.1167,2021-02-20 05:30:00+05:30,14.09,14.09,14.09,1015,1015,995,36,Clear,clear sky,0,1.53,302,North\n,Uttar Pradesh
5634119,5738571,Badaun,1275163,28.05,79.1167,2021-02-20 08:30:00+05:30,17.24,17.24,17.24,1017,1017,997,35,Clear,clear sky,0,2.13,241,North\n,Uttar Pradesh
5634120,5738572,Badaun,1275163,28.05,79.1167,2021-02-20 11:30:00+05:30,25.40,25.40,25.40,1018,1018,998,23,Clear,clear sky,0,2.89,271,North\n,Uttar Pradesh
5634121,5738573,Badaun,1275163,28.05,79.1167,2021-02-20 14:30:00+05:30,28.97,28.97,28.97,1014,1014,994,17,Clear,clear sky,0,3.02,272,North\n,Uttar Pradesh